@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(../IMG/wallpaperflare.com_wallpaper.jpg);
  
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  margin: 20px 0 0 20px;
  text-shadow: 0px 0px 12px #666;
}
.container {
  max-width: 100%;
  display: flex;
}
input {
  margin: 10px 20px 0 20px;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 10px;
  font-size: 20px;
  transition: all 300ms ease;
}

input:hover {
  border: 1px solid rgb(168, 47, 255);
}
div button {
  width: 120px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(47, 158, 255);
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: all 300ms ease;
}
button:hover {
  background-color: purple;
}
table {
  margin: 10px;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #666;
}
thead, tr{
  border: 1px solid #666;;
}
tbody tr:hover{
  background-color: rgba(102, 102, 102, 0.061);
}
.btn1{
  font-size: 14px;
  margin: 10px;
  padding: 10px;
  background-color: green;
}
.btn1:hover{
  background-color: rgb(17, 55, 4);
}
.btn2{
  font-size: 14px;
  margin: 10px;
  padding: 10px;
  background-color: red;
}
.btn2:hover{
  background-color: rgb(141, 3, 3);
}